<html>
<head>
    <title>Home</title>
    <style>
        body {
    background-image: url('https://img.freepik.com/free-vector/hospital-clinic-building-with-ambulance-car-truck_107791-2645.jpg?w=1060&t=st=1697633357~exp=1697633957~hmac=aa0b5eb150db63ffda39e050d140a53b17d0827062b334b912748bdac157ccbd');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 100px;
    color: #000000; /* Text color for the h1 element */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

a {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px;
}

a:hover {
    background-color: #0056b3; /* Button background color on hover */
}

    </style>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <a href="/signup">SIGNUP</a>
    <a href="/signin">SIGNIN</a>
</body>
</html>
